asgiref==3.8.1
Django==4.2.20
django-bootstrap5==25.1
django-crispy-forms==1.14.0
django-filter==22.1
djangorestframework==3.14.0
gunicorn==20.1.0
pytz==2022.6
setuptools==76.0.0
sqlparse==0.4.3
tzdata==2022.7
